.TodoItem {
  background-color: #fafafa;
  border-radius: 50px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  width: 90%;
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  font-size: 30px;
  font-weight: bold;
}

.Icon-check {
  position: absolute;
  left: 12px;
  font-size: 35px;
}
.Icon-check--active {
  color: green;
}

.Icon-delete {
  position: absolute;
  top: -14px;
  right: 0;
}
.Icon-delete:hover {
  color: red;
}
