body {
  margin: 0;
  padding: 0;
  background: white;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  background-image: url("https://s1.best-wallpaper.net/wallpaper/m/2005/Blue-style-mountains-lake-clear-water-water-reflection-snow-dusk_m.jpg");
  background-size: 10rem;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

